<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>927456834002-6iv0ien4fmuujl39bh6c6ekirehmqleb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927456834002-6iv0ien4fmuujl39bh6c6ekirehmqleb</string>
	<key>API_KEY</key>
	<string>AIzaSyD8W1it6-aOoqZHZFLf345tR2iSJ3i8yy8</string>
	<key>GCM_SENDER_ID</key>
	<string>927456834002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.newsgreatagain.newsgreatagain</string>
	<key>PROJECT_ID</key>
	<string>make-news-great-again</string>
	<key>STORAGE_BUCKET</key>
	<string>make-news-great-again.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:927456834002:ios:afc291a93d200b6b</string>
	<key>DATABASE_URL</key>
	<string>https://make-news-great-again.firebaseio.com</string>
</dict>
</plist>
